<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
		<classes>
			<class name="runTestCases.TestDemoPage"/>
		</classes>
	</test> <!-- Test -->
	<test name="DragAndDropTest">
		<classes>
			<class name="runTestCases.TestDragAndDrop" />
		</classes>
	</test> <!-- Test -->
		<test name="TestThirdSuite">
		<classes>
			<class name="runTestCases.RunThirdSuite" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
